h3, center h1{
    font-family: "Sansita Swashed";
    font-size: 30px;
}

.update,button,.create{
    border:  solid 2px green;
    background: green;
    border-radius: 50px;
    height: 50px;
    width: 90px;
    margin: 0 auto;
    transition: 1.2s;
    font-size: 22px;
    color: white;
    font-family: "Sansita Swashed";
}
.update:hover,button:hover,.create:hover{
    width: 95px;
    height: 60px;
    transition: 0.7s;
    padding: 0px 5px 3px 5px;
}

button{
    border:  solid 2px grey;
    background: grey;
}

.buttons{
    height: 95px;
    width: 240px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
