center h2{
    font-family: "Sansita Swashed";
    color: brown;
    font-size: 46px;
}

.buttons{
    margin: 0 auto;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.cars{
    background: brown;
    border: solid 2px brown;
}
.clients{
    background: green;
    border: solid 2px green;

}

button{
    background: grey;
    border:  solid 2px grey;
    height: 50px;
    border-radius: 50px;
    width: 120px;
    margin: 0 auto;
    transition: 1.2s;
    font-size: 25px;
    color: white;
    font-family: "Sansita Swashed";
}

button:hover{
    width: 130px;
    height: 55px;
    transition: 0.7s;
    padding: 0px 5px 3px 5px;
}