.table-dark .update,.create{
    border:  solid 2px green;
    background: green;
}
.delete{
    background: brown;
    border:  solid 2px brown;

}

button{
    background: grey;
    border:  solid 2px grey;
    height: 40px;
    border-radius: 50px;
    width: 80px;
    margin: 0 auto;
    transition: 1.2s;
    color: white;
    font-size: 20px;
    font-family: "Sansita Swashed";
}

button:hover{
    width: 85px;
    height: 50px;
    transition: 0.7s;
    padding: 0px 5px 3px 5px;
}

tr{
    display: flex;
    align-items: center;
    height: 75px;
    margin: 0;
    width: 1121px;
}
td,th{
    display: flex;
    align-items: center;
    height: 80px;
    width: 125px;
    border: solid 1px grey;
}

.tdID{
    width: 245px;
}

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.table-dark{
    margin: 0 auto;
}
h3{
    height: 50px;
    font-weight: bold;
}

th h5{
    font-weight: bold;
}

h5{
    font-size: 19px;
}

.th{
    display: flex;
    align-items: center;
}

.buttons{
    margin: 0 auto;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.buttons button{
    height: 50px;
    width: 90px;
}
.buttons button:hover{
    width: 95px;
    height: 60px;
    transition: 0.7s;
    padding: 0px 5px 3px 5px;
}

.text, .tdID{
    font-family: "Sansita Swashed";
}